<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.skykhan.zikirmatik" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/tesbih72"
        android:label="@string/appName"
        android:theme="@style/AppTheme" >
        <activity
            android:name= ".ZikirmatikActivity"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name= ".ZikirGecmisi"
            android:label="@string/appName" >
            <intent-filter>
                <action android:name="android.intent.action.ZIKIRGECMISI" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
